/*
RFDPrint Custom CSS
*/
/******Small Shop Owner Discount (Sevices Page ****/
.ssos-discount{
    font-size: 20px;
    color:#ff6600;
}

/***woocommerce variations add to cart disabled***/
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled > button {
    background-color: #003300 !important;
    color: #fff;
}
/************Start Responsive****/

@media screen and (min-width: 980px) {
.woocommerce #content div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.images, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.images, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.images, .woocommerce-page div.product div.summary {
    float: left !important;
    width: 50% !important;
}

.woocommerce-MyAccount-navigation {
    float: left !important;
    width: 25% !important;
}

.woocommerce-MyAccount-content {
    float: left !important;
    width: 75% !important;
}


/*.woocommerce table.shop_table {
    width: 50% !important;
    float: left !important;
}*/
#tab-description, #tab-additional_information, #tab-local_1 {
	width: 70% !important;
}
.woocommerce #tab-description > h2, #tab-additional_information > h2 {
      display: none;
}
 .client-see-whats-new {
  display: block !important;
  margin: -35px auto;
}    
}

/*Mobile Break (small) **********************/

@media screen and (max-width: 979px){
#tab-description, #tab-additional_information, #tab-local_1, #tabs{
	width: 100% !important;
}
.woocommerce-tabs ul.tabs, .woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs {
	width: 100% !important;
}
.request_bulk_order_text, 
.request_request_quote_text {
	font-size: 95% !important;
}
.request_quote_box, .free_ship_tag {
 max-width: 100% !important; 
}
.single_add_to_cart_button, .variation-add-to-cart-enabled, #quick-quote-submit {
   width: 95% !important;
   float: Center !important;
   margin: 0 auto !important;
   margin-left: 10px !important;
   text-align: center !important;
}
.woocommerce-variation-price {
     text-align: center;
     font-size: 40px;
}
.mega-menu-site-top-logout, .mega-menu-site-top-email, .mega-menu-site-top-logout, .mega-menu-site-top-phone {
display:none !important;
}
}

/*Mobile Break**********************/
.woocommerce #tab-description > h2, #tab-additional_information > h2 {
      display: none;
}
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
    padding: 5px 10px;
}
.woocommerce a.button, .woocommerce-page a.button {
    margin: 10px 0 0 7px !important;
}
.woocommerce .cart-collaterals .cart_totals table td, .woocommerce-page .cart-collaterals .cart_totals table td {
    width: 100% !important;
}

/* Product custom code */

/*advert group ads*/
.g:nth-child(n) {
    margin: 0 auto !important;
    text-align: center;
    max-height: 300px;
 
 }
.custom_product_ad {
   margin: 0 auto;
}

.request_bulk_order_box {
    height: 145px;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    float: center;
    border-color: #003300;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: #d6e9c6;
    overflow: auto;
   }

.request_bulk_order_text {
    text-align: center;
	margin-top: 20px;
    font-weight: 700;
}

.request_request_quote_text {
    text-align: center;
	margin-top: 20px;
    font-weight: 700;
}

.request_quote_box  {
    height: 125px;
    width: 100%;
    max-width: 500px;
    float: center;
    margin: 10px auto;
    margin-top: 15px;
    border-color: #003300;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: #d6e9c6;
    overflow: auto;
   }

   .request_for_quote_button {
    width: 95%;
 	margin: 0 auto;
    text-align:center;       
    padding-bottom: 10px !important;
}

.request_for_quote_button_b {
    width: 95%;
 	margin: 0 auto;
    text-align:center;       
    padding-bottom: 10px !important;
}

.product_meta {
	display: none;
}

.free_ship_tag {
    margin: auto;
    margin-bottom: 15px;
    padding-left: 30px;
    float: center;
    height: 108px;
    width: 400px;
}
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
    color: green;
}
.woocommerce span.onsale {
    background-color: green;
}
.wc_pricing_table {
width: 90%;
margin: 0 auto;
margin-top: 15px !important;
border-style: solid;
border-width: 2px;
border-color: #003300;
}
.wc_pricing_table_text{
text-align: center;
margin-top:15px;
margin-bottom: 20px !important;
font-size: 20px;
font-weight: 700;
}

/*product title*/
.wc_get_product {
margin-bottom: 6px;
}
.ad_text {
    margin-top: 35px;
    margin-bottom: -1px;
    text-align: center !important;
}

/***Product Page Price******/
.price {
   font-size: 30px;
   font-weight: 700;
   /* color: #003300; */
}

/**Services (Shop) Page Hide Add to Cart Button and price***/
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart, a.button.product_type_variable
{
    display: none !important;
}
a.woocommerce-LoopProduct-link.woocommerce-loop-product__link > span {display: none !important;}

/**Product Page SKU***/
.product_meta {
	display: none !important;
}
.product_title{
    display:none;
}

div.summary.entry-summary {
    padding-left:35px;
}

/*Woocommerce "Order" page buttons*/
.woocommerce-button.button.pay, .woocommerce-button.button.approve, .woocommerce-button.button.pay-invoice {
    background-color: #5cb85c !important;
    width: 100% !important;
    max-width: 250px;
    text-align: center !important;
    }
    
    .woocommerce-button.button.paid-invoice  {
        background-color: #1e73be 
        !important;  
    }
    
    .woocommerce-button.button.cancel{
    background-color: #f0ad4e!important;
    width: 100% !important;
    max-width: 120px;
    text-align: center !important;
    }
    
    .woocommerce-button.button.view, .woocommerce-button.button.order-again {
    width: 100% !important;
    max-width: 120px;
    padding: 9px 25px 10px !important;
    text-align: center !important;
    }
    
    .woocommerce-button.button.viewdesign {
    width: 100% !important;
    max-width: 120px;
    padding: 9px 20px 10px !important;
    text-align: center !important;
    }

    @media only screen and (max-width: 960px) {
        .request_quote_box {margin-bottom: 40px;}
    }

    @media only screen and (max-width: 960px) {
        ul.tabs.wc-tabs {width:100% !important;}
            button.single_add_to_cart_button.button.alt {margin-bottom:10px !important;
        padding:15px !important;	}
            button.single_add_to_cart_button.button.send-inquiry.alt {padding:15px !important;}
            
        div.g.g-5 {margin-top:-35px !important;}
        }
        
        ul.tabs.wc-tabs {background-color:#d6e9c6 !important;
            color:#003300;
            /*border-color: #003300;
          border-style: solid;
          border-width: 1px;*/
        }
        
        li#tab-title-description.description_tab.active, li#tab-title-local_1.local_1_tab.active {
            background-color: orange !important;
            color:#003300;
          /*border-color: #003300;
          border-style: solid;
          border-width: 1px;*/
        }

        /*Error Fix: Product image doesent fade in when some js code is run, this css fixes that issue, but disables the fade in*/
        .woocommerce div.product div.images.woocommerce-product-gallery{
            opacity:1 !important;
            }
            
            figure {
            display: block;
            margin-top: 0em;
            margin-bottom: 0em;
            margin-left: 0px;
            margin-right: 0px;
            }
            figure.woocommerce-product-gallery__wrapper {
                margin: 0;
              }

.rwe-plan-div {
    float: left;
    min-height: 300px;
    height: 100% !important;
    max-width: 300px;
    width: 100%;
    margin: 10px;
}

.wwm-order-btn{
    top: 250px;
    left: 50px !important;
    width: 200px;
    background-color:#fe6600 !important;
    color: white !important;
}
.wwm-order-btn:hover{
    background-color:yellow !important;
    color: #fe6600 !important;
}
.rwe-plan-img-btn-div{
    position:absolute;
}