
.entry-title {display:none !important;}

.branding {
	margin-top: 20px;
}

.site-footer-widgets {display:none !important;} 

.right-sidebar .left-sidebar {
	display:none !important;
}
/*Home page hero image line height*/
#hero-image-emerge-text {
line-height: 90%;
}

@media screen and (max-width: 700px) {
 .overlay {display:none !important;}}

.site-footer-bottom-bar {
	margin-left: -1000px !important;
}

#header-slogan-text-print, #header-slogan-text-dot {
	font-weight: bold;
	color: #dc5810 !important;
	font-size: 50px;
     line-height:100%;
}

#header-slogan-text {
	font-size: 50px;
    line-height: 100%; 
	font-weight: bold;
	color: #003300 !important;
}

/***woocommerce variations add to cart disabled***/
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled > button {
    background-color: #003300 !important;
    color: #fff;
}

 .client-see-whats-new {
  display: block !important;
  margin: -35px auto;
}    

.client-page-left-panel {
	padding-top: 35px;
}

.client-page-mobile-title{
  display: none;
}

/*Mobile Break (small) **********************/

@media screen and (max-width: 979px){


/*Client Page*/
.client-page-left-panel, .client-see-whats-new {
display:none;
}

.client-page-right-panel {
	margin-top: -15px;
}

.client-page-mobile-title {
	width: 100%;
	display: inline-block;
    margin: 0 auto !important;
}

.client-page-product-image {
width: 100%;
}


.mega-menu-site-top-logout, .mega-menu-site-top-email, .mega-menu-site-top-logout, .mega-menu-site-top-phone {
display:none !important;
}
}

/*End Mobile**********************/

/**Adspace*****/
.blog-post-ad-space {
   height: 210px !important;
}


.main-menu-container panoramic-mobile-menu-standard-color-scheme {
background-color: #003300 !important;
}

@media only screen and (max-width: 960px) {
#main-menu.panoramic-mobile-menu-standard-color-scheme, #site-navigation, #main-menu {
 background-color: #003300 !important;
}
}

#panel-2204-0-0-0 > div > div.all_main > div > div > div > div.content.clearfix > div.meta {display:none !important;}

.swal-button {background-color:#003300;}

/*Auction*/
.wdm-auction-title {
	color:#003300;
}
.wdm_auctions_list {
	border-radius: 10px;
}

@media only screen and (min-width: 960px) {
	
div.summary.entry-summary {margin-top: 27px !important;}
	
#primary.content-area {width: 100%;}
}